body {
    background-image: url(../backgroundImageNoText.png);
    text-align: center;
    overflow:hidden;
    }
  /*video*/
  #draggable {
    padding: 0.5em;
  }
  
  audio { display:none;}
  
  .box{
    width: 500px;
    margin: auto;
    margin-top: 5%;
    padding-bottom: 10%;
    width: 45%;
    border: 0.2rem solid #fff;
    background-color: rgb(39, 39, 39);  
    border-radius: 1rem;
    text-align: center;
    cursor: move;
  }
  
  .loginText {  
    color: #fff;
    font-size: 65px;
  }
  
  .password, .username{  
    color:#000000;
    padding-left: 15px;
    border: 0.1rem solid #fff;
    background-color: white;
    border-radius: 1rem;
    width: 200px;
    height: 35px;
    font-size: 16px;
  }
  
  ::placeholder { 
    color: #7542d1;
  }
  
  .enterButton{
    font-size: 16px;
    margin-top: 15px;  
    border: 0.1rem solid #fff;
    background-color: white;
    border-radius: 1rem;
    width: 215px;
    height: 40px;
    color: black;
  }
  
  .fail{
    color: red;
  }
  
  .finishedText{
    color:white;
    width: 400px;
    text-align: center;
    margin-left: 75px;  
    margin-right: 75px;
    font-size: 20px;
  }

  /* AI bot */
.ai {
  position:fixed;
  width:100px;
  height:100px;
  bottom:40px;
  right:40px;
  color:#FFF;
  border-radius:50px;
  text-align:center;
}

.float{
  animation: floating 3s infinite ease-in-out;
}

.aiBubble {
  width: 120px; 
  height: 80px; 
  background: #5ac4ed;
  position: absolute;
  bottom: 40px;
  right: 160px;
  border-radius: 10px;
  text-align: center;
}

@keyframes floating {
  from { transform: translate(0,  0px); }
  65%  { transform: translate(0, 15px); }
  to   { transform: translate(0, -0px); }    
}