body{
  overflow: hidden; 
}
.mainDashboard{  
  background-image: url(backgroundImage.png);
}
.keyProgress{
  margin-left: 20%;
}

.sidenav {
    height: 100%;
    width: 150px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 20px;
    border-right: #818181 solid 1px;
  }
  
  .sidenav a {
    padding: 30px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  

  .main, .mainDashboard {
    margin-left: 160px; 
    font-size: 20px; 
    padding: 0px 10px;
  }
  h4{
    color: #7542d1;
  }
  /* code for dashboard*/
.welcome{
  position: fixed;
  
}
  .glitch, .glitchPresident {
    color: #7542d1;
    font-size: 20px;
    position: relative;
    float:left;
    width: 100%;
  }

  .glitch:before, .glitchPresident:before {
    content: attr(data-text);
    position: absolute;
    left: -2px;
    text-shadow: 1px 0 blue;
    top: 0;
    color: black;
    background: white;
    overflow: hidden;
    clip: rect(0, 900px, 0, 0);
    animation: noise-anim-2 3s infinite linear alternate-reverse;
  }

  .glitch:after, .glitchPresident:after {
    content: attr(data-text);
    position: absolute;
    left: 2px;
    text-shadow: -1px 0 red;
    top: 0;
    color: black;
    background: white;
    overflow: hidden;
    clip: rect(0, 900px, 0, 0);
    animation: noise-anim 2s infinite linear alternate-reverse;
  }

  .glitchPresident{
    color: black; 
    font-size: 40px;
    float: right;
    position: absolute;
    top: 10%;
  }
  .welcome{
    position: fixed;
  }
  .submitButton{
    
    color: #7542d1;
  }

  @keyframes noise-anim {
    0% {
      clip: rect(88px, 9999px, 98px, 0);
    }
    5% {
      clip: rect(39px, 9999px, 2px, 0);
    }
    10% {
      clip: rect(11px, 9999px, 17px, 0);
    }
    15% {
      clip: rect(37px, 9999px, 22px, 0);
    }
    20% {
      clip: rect(85px, 9999px, 2px, 0);
    }
    25% {
      clip: rect(45px, 9999px, 15px, 0);
    }
    30% {
      clip: rect(62px, 9999px, 36px, 0);
    }
    35% {
      clip: rect(77px, 9999px, 36px, 0);
    }
    40% {
      clip: rect(79px, 9999px, 81px, 0);
    }
    45% {
      clip: rect(51px, 9999px, 82px, 0);
    }
    50% {
      clip: rect(72px, 9999px, 61px, 0);
    }
    55% {
      clip: rect(49px, 9999px, 68px, 0);
    }
    60% {
      clip: rect(46px, 9999px, 19px, 0);
    }
    65% {
      clip: rect(56px, 9999px, 57px, 0);
    }
    70% {
      clip: rect(19px, 9999px, 81px, 0);
    }
    75% {
      clip: rect(48px, 9999px, 44px, 0);
    }
    80% {
      clip: rect(14px, 9999px, 93px, 0);
    }
    85% {
      clip: rect(24px, 9999px, 48px, 0);
    }
    90% {
      clip: rect(2px, 9999px, 47px, 0);
    }
    95% {
      clip: rect(87px, 9999px, 100px, 0);
    }
    100% {
      clip: rect(50px, 9999px, 59px, 0);
    }
  }
   
  @keyframes noise-anim-2 {
    0% {
      clip: rect(95px, 9999px, 2px, 0);
    }
    5% {
      clip: rect(95px, 9999px, 92px, 0);
    }
    10% {
      clip: rect(19px, 9999px, 86px, 0);
    }
    15% {
      clip: rect(3px, 9999px, 31px, 0);
    }
    20% {
      clip: rect(70px, 9999px, 4px, 0);
    }
    25% {
      clip: rect(29px, 9999px, 55px, 0);
    }
    30% {
      clip: rect(70px, 9999px, 80px, 0);
    }
    35% {
      clip: rect(1px, 9999px, 20px, 0);
    }
    40% {
      clip: rect(48px, 9999px, 52px, 0);
    }
    45% {
      clip: rect(53px, 9999px, 18px, 0);
    }
    50% {
      clip: rect(1px, 9999px, 28px, 0);
    }
    55% {
      clip: rect(40px, 9999px, 54px, 0);
    }
    60% {
      clip: rect(62px, 9999px, 60px, 0);
    }
    65% {
      clip: rect(94px, 9999px, 36px, 0);
    }
    70% {
      clip: rect(79px, 9999px, 16px, 0);
    }
    75% {
      clip: rect(66px, 9999px, 5px, 0);
    }
    80% {
      clip: rect(63px, 9999px, 22px, 0);
    }
    85% {
      clip: rect(36px, 9999px, 57px, 0);
    }
    90% {
      clip: rect(38px, 9999px, 69px, 0);
    }
    95% {
      clip: rect(38px, 9999px, 91px, 0);
    }
    100% {
      clip: rect(18px, 9999px, 48px, 0);
    }
  }

  /* code for summary */
.chart1, .chart2{
 width: 500px; 
 float: left;
}
.chart2{
    float:right;
    margin-right: 20px;
}

.allCharts{
    width: 1000px;
}

/* Code for system stats*/
.alert{
    color: red;
}
.warning{
    color:orange;
}
#logTable {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  #logTable td, #logTable th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  #logTable tr:nth-child(even){background-color: #f2f2f2;}
  
  #logTable tr:hover {background-color: #ddd;}
  
  #logTable th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #7542d1;
    color: white;
  }
  .dangerButton, .puzzleThreeButton{
    border: none;
    background-color: transparent;
    cursor: pointer;
    font-size: 20px;
    padding-left: 0px;
  }
  .puzzleThreeButton{
    font-size: 15px;
  }

  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }
  .notes, .time{
    width: 350px;
  }
/*Database*/
#weaponsTable, #locationTable {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    font-size: 16px;
}
  
#weaponsTable td, #weaponsTable th, #locationTable td,  #locationTable th {
    border: 1px solid #ddd;
    padding: 8px;
}
  
#weaponsTable tr:nth-child(even), #locationTable tr:nth-child(even){background-color: #f2f2f2;}
  
#weaponsTable tr:hover, #locationTable tr:hover{background-color: #ddd;}
  
#weaponsTable th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #7542d1;
    color: white;
}

#locationTable th{
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #7542d1;
    color: white;
}

.weapons{
    float: left;
    width:30%;
}
.locations{
    float:right;    
    width: 65%;
}

.contry{
    width:200px;
  }

.database{
  margin-bottom: 5px;
}
/* AI bot */
.float{
  position:fixed;
  width:60px;
  height:60px;
  bottom:40px;
  right:40px;
  color:#FFF;
  border-radius:50px;
  text-align:center;
}

.ai-float{
  margin-top:22px;
}
.aiBubble {
  width: 120px; 
  height: 80px; 
  background: #5ac4ed;
  position: absolute;
  bottom: 20px;
  right: 120px;
  border-radius: 10px;
  text-align: center;
}
/*Loading bar*/
.key{
  margin-left: 5%;
}
.progressBar{
  background-color: #7542d1;
  width:0%;
}
.light-grey{
  background-color: lightgrey;
  width: 70%;
  margin-left: 2.5%;
}
.progressContainer{
  margin-left:25%;;
  background:white;
  padding: 25px;
  width: 500px;
  border-radius: 15px;
  border: solid #7542d1 5px;
}