
.sidenav {
    height: 100%;
    width: 150px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 20px;
  }
  
  .sidenav a {
    padding: 30px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  .main {
    margin-left: 160px; 
    font-size: 20px; 
    padding: 0px 10px;
  }
  h4{
    color: #7542d1;
  }

  /* code for summary */
.chart1, .chart2{
 width: 500px; 
 float: left;
}
.chart2{
    float:right;
    margin-right: 20px;
}

.allCharts{
    width: 1000px;
}

/* Code for system stats*/
.alert{
    color: red;
}
.warning{
    color:orange;
}
#logTable {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  #logTable td, #logTable th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  #logTable tr:nth-child(even){background-color: #f2f2f2;}
  
  #logTable tr:hover {background-color: #ddd;}
  
  #logTable th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #7542d1;
    color: white;
  }
  .dangerButton{
    border: none;
    background-color: transparent;
    cursor: pointer;
    font-size: 20px;
    padding-left: 0px;
  }

  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }
  
/* AI bot */
.aiBubble {
  width: 120px; 
  height: 80px; 
  background: #5ac4ed;
  position: absolute;
  bottom: 20px;
  right: 120px;
  border-radius: 10px;
  text-align: center;
}